{% extends "base3.html" %}

{% block content %}
  <style>
    #image1{
      background-image: url({{ icon.icon_url }});
    }
    table, th, td {
      border: 1px solid lightgrey;
      padding: padding: 0px 0px 0px 20px;
      align="left";
    }
  </style>
  <main class="wrapper" id="site-content" role="main">
    <div class="content-area">
      <div class="content-inner">
        <div class="page type-page status-publish hentry">
          <div class="content">
            <div id="right-sidebar-inner" class="b">
              <div class="wp-block-image">
                <div class="prancheta form-group" id="imagers" >
                </div>
                <table style="padding: 0px">
                  <tr style="padding: 0px" >
                    <td rowspan=3 style="width: 150; padding: 0px" align="left" >
                      <div id="image1" class="cropcircle"></div>
                    </td>
                    <td col span=2 valign="bottom" class="has-huge-font-size" style="padding: 0px 0px 0px 20px">
                      PROJETO NOVO
                    </td>
                  </tr>
                  <tr style="padding: 0px">
                    <td colspan=2 valign="top" class="has-medium-font-size" style="padding: 0px 0px 0px 20px">
                      <i id="responsavel">Responsável: {{ responsavel }}</i>
                    </td>
                  </tr>
                  <tr>
                    <td style="padding: 0px 0px 10px 20px">
                      Status atual: INICIAL
                    </td>
                  </tr>
                  <tr>
                  </tr>
                  <tr style="padding: 15px">
                    <td colspan=2>
                      Escolha um dos icones abaixo
                    </td>
                  </tr>
                  <tr>
                    <td colspan=2 style="padding: 0px" id="icon_list">
                      {% for icon in icons %}
                        <img id="{{ icon.id }}" src="{{ icon.icon_url }}" alt="{{ icon.icon_name }}" width="32" height="32"
                             style="display:inline" onclick="set_avatar('{{ icon.id }}','{{ icon.icon_url }}')"/>
                      {% if loop.index is divisibleby 100 %}<br>{% endif %}
                    {% endfor %}
                    </td>
                  </tr>
                  <tr style="padding: 15px">
                    <td colspan=2>
                      ou faça upload de uma foto.
                    </td>
                  </tr>  
                  <tr>
                    <td align="center" valign="top" style="padding: 0px">
                      <div>
                        <img id="photoicon" id2="{{ photoicon.id }}" src="{{ photoicon }}" alt="" width="64" height="64" style="vertical-align: middle; display:inline"
                             onclick="set_avatar(this.id,this.src)"/>
                        &nbsp; &nbsp; 
                        <button class="button" id="upload" style="vertical-align: middle; display: inline;" onclick='addNew("projicon","projeto-x")'>Upload</button><br>
                      </div>
                    </td>
                  </tr>
                </table>
              </div>
              <form action="" method = "POST">
                {{ form.hidden_tag() }}
                <table>
                  <tr>
                    <td>
                      <div style="display:none">
                        {{ form.icon(size=5, id="avatar", value=icon.id) }}
                      </div>
                    </td>
                  </tr> 
                  <tr>
                    <td colspan = 2>
                      {{ form.titulo.label }}{{ form.titulo(size=32) }}
                      {% for error in form.titulo.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                      {% endfor %}
                    </td>
                  </tr>
                  <tr>
                    <td colspan = 2>
                      {{ form.descricao.label }}{{ form.descricao(size=20) }}
                      {% for error in form.descricao.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                      {% endfor %}
                    </td>
                  </tr>
                  <tr>
                    <td colspan = 2>
                      {{ form.objetivo.label }}{{ form.objetivo(size=20) }}
                      {% for error in form.objetivo.errors %}
                      <span style="color: red;">[{{ error }}]</span>
                      {% endfor %}
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <p>{{ msg }}</p>
                      {{ form.organizacao.label }}<br>
                      {{ form.organizacao(size=3) }}
                      {% for error in form.organizacao.errors %}
                      <span style="color: red;">[{{ error }}]</span>
                      {% endfor %}
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="wp-block-button">
                        <a class="wp-block-button__link" href="http://vamostrabalharjuntos.com.br/projetos/orgcreate">NOVA ORGANIZAÇÃO</a>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      {{ form.responsavel.label }}<br>
                      {{ form.responsavel(size=3, value=value) }}
                      {% for error in form.responsavel.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                      {% endfor %}
                    </td>
                  </tr>
                  <tr>
                    <td>
                      {{ form.visibilidade.label }}{{ form.visibilidade }}<br>
                      {% for error in form.visibilidade.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                      {% endfor %}
                    </td>
                  </tr>
                  <tr>
                    <td>
                      {{ form.status.label }}{{ form.status }}<br>
                      {% for error in form.status.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                      {% endfor %}
                    </td>
                  </tr> 
                  <tr>
                    <td colspan = 2>
                      {{ form.logo_url(style="display:none") }}
                      {% for error in form.logo_url.errors %}
                      <span style="color: red;">[{{ error }}]</span>
                      {% endfor %}
                    </td>
                  </tr>

                </table>      
                </div>
                <div class="button">
                {{ form.submit(class_="button") }}<br>
                </div>
              </form>
          </div><!-- .content -->
        </div>  
      </div><!-- .content-inner -->
    </div><!-- .content-area -->
    <aside id="right-sidebar" class="sidebar-container widget-area sidebar-primary">
      <div id="right-sidebar-inner" class="clr">
        <div id="text-3" class="sidebar-box widget_text clr">
          <h4 class="widget-title">Crie seu Projeto.</h4>
          <div class="textwidget">
            <p>Escolha um <em>Título</em> para seu projeto. Exemplo: Aeroplano 14Bis</p>
            <p></p>
            <p>Descreva-o de forma resumida. Exemplo: Construção de uma máquina mais pesada que o ar capaz de voar por força própria.</p>
            <p></p>
            <p>Em <i>Objetivo</i> coloque o que pretente atingir com seu projeto. Exemplo: Inventar o avião.</p>
            <p></p>
            <p>Todo projeto deve pertencer a uma <em>Organização</em>. Selecione dentre as que você partipa.</p>
            <p>Caso não haja uma organização para este projeto crie uma! Clique em <a href="{{ url_for('orgcreate') }}"<b>Nova Organização.</b></a></p>
            <p></p>
            <p>O projeto precisa ter um <em>Responsável</em>.
            Ele precisa ser um usuário já cadastrado aqui no "vamostrabalharjuntos.com.br" e ser membro da <em>Organização</em>.
            <p>Uma lista de usuários que são membros da <em>Organização</em> é apresentada.</p>
            <p>Após a criação do projeto, somente este <em>Responsável</em> poderá alterar dados gerais do projeto e criar tarefas.</p>
            <p></p>
            <p>Defina seu projeto como Público,Privado ou Secreto</p>
            <il>Projetos Públicos podem ser vistos por qualquer pessoa.</il>
            <il>Projetos Privados podem ser vistos apenas pela organização.</il>
            <il>Projetos Secretos só podem ser vistos por alguns usuários selecionados</il>
            </p><p>
            </p>Escolha um <em>Icone</em> para representar seu projeto.
            <p></p>
            <p>Basta clicar em <b>Submit</b> para criar seu projeto</p>
          </div>
        </div>
      </div><!-- #sidebar-inner -->
    </aside><!-- #right-sidebar -->
  </main>
  
  <script>
    function set_avatar(avat_id,avat_url){
      console.log("id:"+avat_id);
      if (avat_id=='photoicon') {
        avat_id2 = document.getElementById("photoicon").getAttribute("id2");
        console.log("id2:"+avat_id2);
        avat_url2 = document.getElementById("photoicon").src;
        document.getElementById("avatar").value=avat_id2;
        document.getElementById('image1').style.backgroundImage="url("+avat_url2+")";
      }
      else {
      document.getElementById("avatar").value=avat_id;
      console.log("background-imager:"+avat_url);
      document.getElementById('image1').style.backgroundImage="url("+avat_url+")";
      };
    };
    //console.log('script carregado')
  </script>
  
  {% include "upload-scripts-body.html" %}
  
{% endblock %}