<script>
    function removeElement(elementId) {
        // Removes an element from the document
        var element = document.getElementById(elementId);
        element.parentNode.removeChild(element);
    }

    var pluginsConfig = {
      Crop: {
        controlsCss: {
          width: '15px',
          height: '15px',
          background: 'white',
          border: '1px solid black'
        },
        controlsTouchCss: {
          width: '25px',
          height: '25px',
          background: 'white',
          border: '2px solid black'
        }
      },
      Save: {
        upload: true,
        uploadFunction: function (imageId, imageData, callback) {
          var imager = this;
          var imageType;
          //console.log('uploading ' + imageId);
          if (imageData.includes(".gif")) {
             imageType = ".gif"; 
          } else {
            if (imageData.includes(".png")) {
             imageType = ".png"; 
            } else {
                imageType = ".jpg";
            }
          }
          var data = imageData.replace(/^data:image\/(png|jpg|jpeg);base64,/, '');
          //console.log("checkpoint 0.");
          username = document.getElementById("username").innerHTML;
          //console.log("checkpoint .1");
          username = username.trim();
          //console.log("checkpoint .2");
          //console.log("username: "+username);
          var dataJson = {
            "imageId": imageId,
            "imageData": data,
            "imageType": imageType,
            "username":username,
            "icon_name":icon_name,
            "tipo":tipo
          };
          console.log("checkpoint 1a");
          $.ajax({
            url: '/save',
            //dataType: 'json',
            data: JSON.stringify(dataJson),
            contentType: 'application/json; charset=utf-8',
            type: 'POST',
            success: function(resposta) {
              imageUrl = resposta.url;
              avatar_id = resposta.id;
              //console.log('avatar_id:'+avatar_id);
              callback(imageUrl); // assuming that server returns an `imageUrl` as a response
              //console.log('uploading success: ' + imageUrl);
              //console.log("background-imager:"+avat.src);
              
              document.getElementById("imagers").style = "display: none";
              document.getElementById("upload").style = "display: inline";
              if (tipo == "photo") {
                //console.log('photo');
                document.getElementById("imagens").value = document.getElementById("imagens").value + ' ' + avatar_id;
                var $NewimageContainer = $(
                    '<tr>' +
                    '   <td colspan = 2>' + 
                    '        <img id = "newimage" src='+imageUrl+' alt="" width="64" height="64" />' +
                    '   </td>' +
                    '</tr>');
                $('#photos').append($NewimageContainer);
                document.getElementById('newimage').src = imageUrl;
                //console.log('contador:'+String(contador));
                contador = contador + 1;
                //console.log('contador agora:'+String(contador));
                document.getElementById('contador').innerHTML = String(contador);
                removeElement("imager_id");
              } else {
                //console.log('no photo:>'+tipo+'<');
                document.getElementById('image1').style.backgroundImage="url("+imageUrl+")";
                document.getElementById("avatar").value=avatar_id;
                document.getElementById("photoicon").src = imageUrl;
                document.getElementById("photoicon").setAttribute("id2", avatar_id);
                document.getElementById("logo_url").value = imageUrl;
                removeElement("imager_id");
              }
            },    
            error: function (xhr, status, error) {
                console.log(status);
                console.log(error);
            }
          });
        }
      }      
    };
    var options = {
      plugins: ['Rotate', 'Crop', 'Resize', 'Toolbar', 'Save', 'Delete', 'Undo'],
      editModeCss: {
      },
      pluginsConfig: pluginsConfig,
      quality: {
        sizes: [
          { label: 'Original', scale: 1, quality: 1, percentage: 100 },
          { label: 'Large', scale: 0.5, quality: 0.5, percentage: 50 },
          { label: 'Medium', scale: 0.2, quality: 0.2, percentage: 20 },
          { label: 'Small', scale: 0.05, quality: 0.05, percentage: 5 }
        ]
      }
    };
 
    var addNew = function (t,n) {
      tipo = t;
      icon_name = n;
      //console.log("tipo: "+tipo+" icon_name: "+icon_name);
      var $imageContainer = $(
              '<div class="image-container" id="imager_id" style="position: relative; display: inline-block">' +
              '  <img class="imager-test" ' +
              '       src="" ' +
              '       style="min-width: 300px; min-height: 200px; width: 300px;">' +
              '</div>');
      document.getElementById("imagers").style = "display: inline";
      document.getElementById("upload").style = "display: none";

      $('#imagers').append($imageContainer);
      var imager = new ImagerJs.Imager($imageContainer.find('img'), options);
      imager.startSelector();
      imager.on('editStart', function () {
        imager.$imageElement.css({
          minWidth: 'auto',
          minHeight: 'auto'
        });
        var qualitySelector = new window.ImagerQualitySelector(imager, options.quality);
        var qualityContainer = $('<div class="imager-quality-standalone"></div>');
        qualityContainer.append(qualitySelector.getElement());
        imager.$editContainer.append(qualityContainer);
        qualitySelector.show();
        qualitySelector.update();
      });
    };
    
    var addNewImage = function (t,n) {
      tipo = t;
      icon_name = n;
      if (tipo=="photo") {
        contador_str = document.getElementById('contador').innerHTML.trim();
        contador = parseInt(contador_str);
        icon_name = icon_name + contador_str;
      }
      //console.log("tipo: "+tipo+" icon_name: "+icon_name);
      var $imageContainer = $(
              '<div class="image-container" id="imager_id" style="position: relative; display: inline-block">' +
              '  <img class="imager-test" ' +
              '       src="" ' +
              '       style="min-width: 300px; min-height: 200px; width: 300px;">' +
              '</div>');
      document.getElementById("imagers").style = "display: inline";
      //document.getElementById("upload").style = "display: none";

      $('#imagers').append($imageContainer);
      var imager = new ImagerJs.Imager($imageContainer.find('img'), options);
      imager.startSelector();
      imager.on('editStart', function () {
        imager.$imageElement.css({
          minWidth: 'auto',
          minHeight: 'auto'
        });
        var qualitySelector = new window.ImagerQualitySelector(imager, options.quality);
        var qualityContainer = $('<div class="imager-quality-standalone"></div>');
        qualityContainer.append(qualitySelector.getElement());
        imager.$editContainer.append(qualityContainer);
        qualitySelector.show();
        qualitySelector.update();
      });
    };

</script>