{% extends "base3.html" %}

{% block content %}

<style>
    table, th, td {
      border: 0px solid black;
      padding: padding: 0px 0px 0px 20px;
      align="left";
    }
    .projcropcircle{
      width: 40px;
      height: 40px;
      border-radius: 100%;
      background: #eee no-repeat center;
      background-size: cover;
    }
</style>
  
<body>
  <main class="wrapper" id="site-content" role="main">
    <div class="content-area">
      <div class="content-inner">
        <div class="page type-page status-publish hentry">
          <div class="content">
            <div class="wp-block-image">
              <figure class="alignleft size-large">
                <img id="logo_img" src="{{ org.logo.icon_url }}" alt="{{ org.logo.icon_name }}" width="150" height="150" class="wp-image-123"/>
              </figure>
            </div>
            
            <p class="has-huge-font-size">{{ org.titulo }}</p>
            <p>Contato: {{ org.contato }}</p>
            <p>Descrição:</p>
            {% for desc in descricao %}
              &nbsp;&nbsp;{{ desc }}<br>
            {% endfor %}
            <p>Responsável:<a href="http://vamostrabalharjuntos.com.br/projetos/user/{{ org.responsavel.username }}">
            {{ org.responsavel.nome }} {{ org.responsavel.sobrenome }}</a></p>
            {% if org.responsavel.id == current_user.id %}
              <p><a class="button-right" href="http://vamostrabalharjuntos.com.br/projetos/editorg/{{ org.titulo }}">EDITAR ORGANIZAÇÃO</a></p>
              <p><a class="button-right" href="http://vamostrabalharjuntos.com.br/projetos/orgusers/{{ org.titulo }}">INCLUIR/EXCLUIR MEMBROS</a></p>
            {% endif %}
            <p>Visibilidade: {{ org.visibilidade }}</p>
            <div class="wp-block-group">
              <div class="wp-block-group__inner-container">
                <p class="has-large-font-size">Projetos em curso:</p>
              </div>
              <table>
                {% for myorgproj in org.projs %}
                <tr>
                  <td style="padding: 0px 5px" align="right">
                    <a href="http://vamostrabalharjuntos.com.br/projetos/projeto/{{ myorgproj.id }}">
                      <div id="projlogo" style="background-image: url({{ myorgproj.logo.icon_url }}" class="projcropcircle"></div>
                    </a>
                  </td>
                  <td style= "padding: 0px 5px" align="left" class="has-medium-font-size">
                    <a href="http://vamostrabalharjuntos.com.br/projetos/projeto/{{ myorgproj.id }}">
                      {{ myorgproj.titulo }}
                    </a>
                  </td>
                </tr>
                {% endfor %}
              </table>
            </div> 
          </div><!-- .content -->
        </div><!-- .post -->
      </div><!-- .content-inner -->
    </div><!-- .content-area -->
    <aside id="right-sidebar" class="sidebar-container widget-area sidebar-primary">
      <div id="right-sidebar-inner" class="clr">
        <div id="text-3" class="sidebar-box widget_text clr">
          <h4 class="widget-title">ÁREA DE TRABALHO</h4>
          <b>Dados da Organização.</b>
          <div class="textwidget">
          </div>
        </div>
      </div><!-- #sidebar-inner -->
    </aside><!-- #right-sidebar -->
  </main>
</body>
{% endblock %}