<p>Caro {{ user.username }},</p>
<p>para resetar sua senha <a href="{{ url_for('password_reset', token=token, _external=True) }}">clique aqui</a>.</p>
<p>Alternativamente você pode copiar e colar este link no campo de endereços de seu browser:</p>
<p>{{ url_for('password_reset', token=token, _external=True) }}</p>
<p>Caso não tenha requisitado um reset de senha simplesmente ignore este e-mail.</p>
<p>Atenciosamente,</p>
<p>Administrador VAMOS TRABALHAR JUNTOS</p>
<p><small>(não é necessário responder a este e-mail)</small></p>